<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
<div class="alert alert-sucess" *ngIf="success">Opération effectuée avec succès</div>
<div class="alert alert-error" *ngIf="error">L'action n'a pas été réalisée</div>
<h3 class="text-center my-3 mb-5 text-uppercase">Liste des villes</h3>

<div class="d-flex justify-content-around">
    <div class="input-group sm mb-3 clearfix w-25">
        <input type="text" [(ngModel)]="search" class="form-control" placeholder="Rechercher une ville" aria-describedby="basic-addon1">
        <button class="btn btn-outline-info my-2 my-sm-0" type="button" (click)="loadCities()">
            <span class="material-icons-outlined">search</span></button>
    </div>
    <button type="button" class="btn btn-outline-info m-2" data-bs-toggle="modal" data-bs-target="#addCityModal">
        Ajouter ville
    </button>
</div>

<!-- Modal for adding a new city -->
<div class="modal fade" id="addCityModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true"  data-bs-backdrop="static">
    <div class="modal-dialog">
        <form name="patientForm" method="POST" (submit)="submitForm()">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title center" id="exampleModalLabel">Ajouter une ville</h5>
                    <button type="button" #closebutton class="btn-close" data-bs-dismiss="modal"
                        aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <div class="form-row">
                        <div class="form-group form-floating mb-3">
                            <input class="form-control" id="name" name="nom" type="text" placeholder="Nom de la ville"
                                required [(ngModel)]="newVille.nom">
                            <label for="lastname">Nom ville*</label>
                            <!-- TODO: custom messages pour la validation -->
                            <!-- <div class="invalid-feedback">
                                    Please choose a username.
                                  </div> -->
                        </div>
                        <div class="form-group form-floating mb-3">
                            <input class="form-control" id="codePostal" name="codePostal" type="text"
                                placeholder="Code postal" required [(ngModel)]="newVille.codePostal">
                            <label for="firstname">Code Postal*</label>
                        </div>
                    </div>
                </div>

                <div class="modal-footer">
                    <button type="reset" class="btn btn-secondary" data-bs-dismiss="modal">Annuler</button>
                    <button class="btn btn-primary" type="submit" id="submitForm" (click)="onSave();">Enregistrer</button>
                </div>
            </div>
        </form>
    </div>
</div>


<div class="container">

    <table class="table table-striped">
        <thead>
            <tr>
                <th>Ville</th>
                <th>Code Postal</th>
                <th style="width:100px"><i class="fas fa-cogs"></i></th>
                <th></th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let ville of villes">
                <td>{{ville.id}}</td>
                <td>{{ville.nom}}</td>
                <td>{{ville.codePostal}}</td>
                <td>

                    <a class="icon" (click)="editCity(ville.id)" data-bs-toggle="modal"
                        data-bs-target="#editVilleModal">
                        <span class="material-icons">edit</span>
                    </a>
                </td>
                <td>
                    <a class="icon" (click)="deleteCity(ville.id)">
                        <span class="material-icons">delete</span>
                    </a>
                </td>
            </tr>
        </tbody>
    </table>

</div>
<!-- Modal for updating a City -->
<div class="modal fade" id="editVilleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true"  data-bs-backdrop="static">
    <div class="modal-dialog">
        <form name="editCityForm" method="POST" (submit)="submitForm()">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title center" id="exampleModalLabel">Modifier la ville</h5>
                    <!-- Le #closebutton sert à la requête viewChild de cet élément : -->
                    <button type="button" #closebutton class="btn-close" data-bs-dismiss="modal"
                        aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <div class="form-row">
                        <div class="form-group form-floating mb-3">
                            <input class="form-control" id="name" name="nom" type="text" placeholder="Nom de la ville"
                                required [(ngModel)]="newVille.nom">
                            <label for="lastname">Nom ville*</label>
                            <!-- TODO: custom messages pour la validation -->
                            <!-- <div class="invalid-feedback">
                                    Please choose a username.
                                  </div> -->
                        </div>
                        <div class="form-group form-floating mb-3">
                            <input class="form-control" id="codePostal" name="codePostal" type="text"
                                placeholder="Code postal" required [(ngModel)]="newVille.codePostal">
                            <label for="firstname">Code Postal*</label>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="reset" class="btn btn-secondary" data-bs-dismiss="modal">Annuler</button>
                    <button class="btn btn-primary" type="submit" #closebutton (click)="onSave();"
                        id="submitForm">Enregistrer</button>
                </div>
            </div>
        </form>
    </div>
</div>