<!-- <div class="d-inline-flex justify-content-center">
    <button type="button" class="btn btn-outline-info m-2" data-bs-toggle="modal" data-bs-target="#staticBackdrop">
        Ajouter ville
    </button>
</div>
<main class="container">
    <button data-bs-toggle="modal" data-bs-target="#exampleModal" class="btn btn-success float-end">Nouvelle ville</button>
    <div class="h2 text-center">Liste des Villes</div>
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Ville</th>
                <th>Code Postal</th>
                <th style="width:100px"><i class="fas fa-cogs"></i></th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let ville of villes">
                <td>{{ville.id}}</td>
                <td>{{ville.nom}}</td>
                <td>{{ville.codePostal}}</td>
            </tr>
        </tbody>
    </table>
</main>

 -->


<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

<body>
    <div th:replace="fragments/header :: header"></div>
    <h3 class="text-center my-3">Liste des villes</h3>

    <!-- Button trigger modal -->
    <div class="d-inline-flex justify-content-center">
        <button type="button" class="btn btn-outline-info m-2" data-bs-toggle="modal" data-bs-target="#addCityModal">
            Ajouter ville
        </button>
    </div>
    <!-- Modal for adding a new city -->
    <div class="modal fade" id="addCityModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <form name="patientForm" method="POST" (submit)="submitForm()">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title center" id="exampleModalLabel">Ajouter une ville</h5>
                        <button type="button" #closebutton class="btn-close" data-bs-dismiss="modal"
                            aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <div class="form-row">
                            <div class="form-group form-floating mb-3">
                                <input class="form-control" id="name" name="nom" type="text"
                                    placeholder="Nom de la ville" required [(ngModel)]="newVille.nom">
                                <label for="lastname">Nom ville*</label>
                                <!-- TODO: custom messages pour la validation -->
                                <!-- <div class="invalid-feedback">
                                    Please choose a username.
                                  </div> -->
                            </div>
                            <div class="form-group form-floating mb-3">
                                <input class="form-control" id="codePostal" name="codePostal" type="text"
                                    placeholder="Code postal" required [(ngModel)]="newVille.codePostal">
                                <label for="firstname">Code Postal*</label>
                            </div>
                        </div>
                    </div>

                    <div class="modal-footer">
                        <button type="reset" class="btn btn-secondary" data-bs-dismiss="modal">Annuler</button>
                        <button class="btn btn-primary" type="submit" id="submitForm">Enregistrer</button>
                    </div>
                </div>
            </form>
        </div>
    </div>


    <div class="container">

        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Ville</th>
                    <th>Code Postal</th>
                    <th style="width:100px"><i class="fas fa-cogs"></i></th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let ville of villes">
                    <td>{{ville.id}}</td>
                    <td>{{ville.nom}}</td>
                    <td>{{ville.codePostal}}</td>
                </tr>
            </tbody>
        </table>

    </div>