<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
          integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" th:href="@{/css/style_list.css}"/>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons"
          rel="stylesheet">
</head>
<body>
<div th:replace="fragments/header :: header"></div>
<h1><span class="blue"></span>Liste des utilisateurs<span class="blue"></span> <span class="yellow"></span></h1>

<div class="container">
    <table class="table table-striped">
    <thead>
    <tr>
        <th>ID</th>
        <th>Identifiant</th>
        <th>Email</th>
        <th>Role</th>
        <th></th>
        <th></th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="user: ${users}" class="user">
        <td th:text="${user.id}"/>
        <td th:text="${user.username}"/>
        <td th:text="${user.email}"/>
        <td th:text="${user.roles}"/>
        <td>

            <a class="icon" th:href="@{/users/updateForm-user/{id}(id=${user.id})}">
                <span class="material-icons">edit</span>
            </a>
        </td>
        <td>
            <a class="icon" th:href="@{/users/delete-user/{id}(id=${user.id})}">
                <span class="material-icons">delete</span>
            </a>
        </td>
    </tr>
    </tbody>
</table>
</div>
</body>
</html>