@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

* {
    font-family: 'Roboto', sans-serif;
}

h1, p {
    display: flex;
    justify-content: center;
}

#clinic-name {
    position: absolute;
    top: 20px;
    left: 90px;
    font-weight: 600;
}

h1 {
    font-size: 36px;
}

thead {
    background: var(--cross-color);
}


body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}


.icon {
    color: var(--cross-color);
}

table, td {
    border-collapse: collapse;
    border: 1px #4c4c4c dashed;
    text-align: center;
}

.table {
    width: 90% !important;
}

#edit-container {
    margin: 0% 5%;
}


:root {
    --cross-color: #1ba9b5;
}

.btn-outline-info {
    border-color: var(--cross-color) !important;
    color: black;
    background-color: transparent;
}

.btn-outline-info:hover {
    background-color: var(--cross-color) !important;
}

.btn-outline-info:active:focus, .btn-outline-info:active {
    color: black;
    background-color: var(--cross-color) !important;
    border-color: #1b8fb5 !important;
}



