<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

<div class="alert alert-sucess" role="alert" *ngIf="success">Opération effectuée avec succès</div>
<div class="alert alert-error" role="alert" *ngIf="error">L'action n'a pas été réalisée</div>
<h3 class="text-center my-3 mb-5 text-uppercase">Liste des patients</h3>

<div class="d-flex justify-content-around">
<div class="input-group sm mb-3 clearfix w-25">
    <input type="text" [(ngModel)]="search" class="form-control" placeholder="Rechercher un patient" aria-describedby="basic-addon1">
    <button class="btn btn-outline-info my-2 my-sm-0" type="button" (click)="loadPatients()">
                <span class="material-icons-outlined">search</span></button>
</div>
<button type="button" class="btn btn-outline-info m-2" data-bs-toggle="modal" data-bs-target="#patientModal">
    Ajouter patient
</button>
</div>

<body>

    <!-- Button trigger modal -->
    <div class="d-flex justify-content-center">

    </div>
    <!-- Modal for adding a new patient -->
    <div class="modal fade" id="patientModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true"
        data-bs-backdrop="static">
        <div class="modal-dialog">
            <form name="patientForm" method="POST" (submit)="submitForm()" novalidate>
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title center" id="exampleModalLabel">Ajouter un patient</h5>
                        <!-- Le #closebutton sert à la requête viewChild de cet élément : -->
                        <button type="button" #closebutton class="btn-close" data-bs-dismiss="modal"
                            aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <div class="form-row">
                            <div class="form-group form-floating mb-3">
                                <input class="form-control" id="lastname" name="nom" type="text" placeholder="Nom"
                                    required [(ngModel)]="newPatient.nom">
                                <label for="lastname">Nom*</label>
                                <!-- TODO: custom messages pour la validation -->
                                <div class="invalid-feedback">
                                    Veuillez choisir un nom.
                                </div>

                            </div>
                            <div class="form-group form-floating mb-3">
                                <input class="form-control" id="firstname" name="prenom" type="text"
                                    placeholder="Prénom" required [(ngModel)]="newPatient.prenom">
                                <label for="firstname">Prénom*</label>
                            </div>
                        </div>

                        <div class="form-row">
                            <div class="form-group form-floating mb-3">
                                <input class="form-control" id="email" name="email" type="email"
                                    placeholder="email@company.com" required [(ngModel)]="newPatient.email">
                                <label for="email">Email*</label>
                            </div>
                            <div class="form-group form-floating mb-3">
                                <input class="form-control" id="telephone" name="telephone" type="tel"
                                    placeholder="0123456789" required [(ngModel)]="newPatient.telephone">
                                <label for="telephone">Téléphone*</label>
                            </div>
                            <div class="form-group form-floating mb-3">
                                <select class="form-select" required name="ville" name="ville" id="ville"
                                    [(ngModel)]="newPatient.ville">
                                    <option value="" selected>Choisissez la ville</option>
                                    <option *ngFor="let ville of villes" [ngValue]="ville">{{ville.nom}}</option>
                                </select>
                            </div>
                        </div>

                    </div>

                    <div class="modal-footer">
                        <button type="reset" class="btn btn-secondary" data-bs-dismiss="modal">Annuler</button>
                        <button class="btn btn-primary" type="submit" id="submitForm">Enregistrer</button>
                    </div>
                </div>
            </form>
        </div>
    </div>

    <div class="container">

        <table class="table table-striped">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Nom</th>
                    <th>Prenom</th>
                    <th>Email</th>
                    <th>Téléphone</th>
                    <th>Ville</th>
                    <th></th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let patient of patients">
                    <td>{{patient.id}}</td>
                    <td>{{patient.nom}}</td>
                    <td>{{patient.prenom}}</td>
                    <td>{{patient.email}}</td>
                    <td>{{patient.telephone}}</td>
                    <td>{{patient.ville?.nom}}</td>
                    <td>

                        <a class="icon" (click)="editPatient(patient.id)" data-bs-toggle="modal"
                            data-bs-target="#editPatientModal">
                            <span class="material-icons">edit</span>
                        </a>
                    </td>
                    <td>
                        <a class="icon" (click)="deletePatient(patient.id)">
                            <span class="material-icons">delete</span>
                        </a>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>

    <!-- Modal for updating a patient -->
    <div class="modal fade" id="editPatientModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true"
        data-bs-backdrop="static">
        <div class="modal-dialog">
            <form name="editPatientForm" method="POST" (submit)="submitForm()">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title center" id="exampleModalLabel">Modifier un patient</h5>
                        <!-- Le #closebutton sert à la requête viewChild de cet élément : -->
                        <button type="button" #closebutton class="btn-close" data-bs-dismiss="modal"
                            aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <div class="form-row">
                            <div class="form-group form-floating mb-3">
                                <input class="form-control" id="lastname" name="nom" type="text" placeholder="Nom"
                                    required [(ngModel)]="newPatient.nom">
                                <label for="lastname">Nom*</label>
                                <!-- TODO: custom messages pour la validation -->
                                <!-- <div class="invalid-feedback">
                                    Please choose a username.
                                  </div> -->
                            </div>
                            <div class="form-group form-floating mb-3">
                                <input class="form-control" id="firstname" name="prenom" type="text"
                                    placeholder="Prénom" required [(ngModel)]="newPatient.prenom">
                                <label for="firstname">Prénom*</label>
                            </div>
                        </div>

                        <div class="form-row">
                            <div class="form-group form-floating mb-3">
                                <input class="form-control" id="email" name="email" type="email"
                                    placeholder="email@company.com" required [(ngModel)]="newPatient.email">
                                <label for="email">Email*</label>
                            </div>
                            <div class="form-group form-floating mb-3">
                                <input class="form-control" id="telephone" name="telephone" type="tel"
                                    placeholder="0123456789" required [(ngModel)]="newPatient.telephone">
                                <label for="telephone">Téléphone*</label>
                            </div>
                            <div class="form-group form-floating mb-3">
                                <select class="form-select" required name="ville" name="ville" id="ville"
                                    [(ngModel)]="newPatient.ville" [compareWith]="comparePatientCity">
                                    <label for="ville">{{currentVille}}</label>
                                    <option *ngFor="let ville of villes" [ngValue]="ville">{{ville.nom}}</option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="reset" class="btn btn-secondary" data-bs-dismiss="modal">Annuler</button>
                        <!-- TODO: le bouton submit ne ferme pas la modal ? -->
                        <button class="btn btn-primary" type="submit" id="submitForm">Enregistrer</button>
                    </div>
                </div>
            </form>
        </div>
    </div>